header h1 {
    background-color: black;
    color: white;
    margin: 0;
    padding: 10px;
    font-size: 18px;
}

main {
    width: 100%;
    margin: 0 auto;
    display: inline;
}

.navigate{

    /*padding-right: 10px;*/

    float: left;
    width: 15%;
}

.liquid_border{
    float: left;
    margin: 0;
    border-right: thick solid #bababa;
    height: 1000px;
}

.menu_button{
    border-radius: 10px;
    border: 2px solid #000;
    background-color: #D3D3D3;
}

.navigate h2{
    margin: 10px;
    font-size: 45px;
}

.date{
    font-size: 300%;
    font-family: 'Times New Roman', Times , serif;
}

.container1{
    float: left;
    margin: 0;
    text-align: center;
    width: 84%;
}

/*スマホ向けサイズ*/
@media only screen and (max-width: 900px){
    .container1{
        float: none;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        /*display: inline-block;*/
    }

    .navigate{
        width: 60%;
        float: none;
        /*padding-right: unset;*/
    }

    .navigate h3{
        margin-left: 30px;
    }

    .liquid_border{
        height: 0;
        margin: 0 0 15px 0;
        float: none;
        border-right: none;
        border-top: thick solid #bababa;
    }

    .menu{
        font-size: 40px;
    }

    .navigate a{
        font-size: 18px;
    }
}

/*PC半画面以下*//*
@media only screen and (max-width: 960px){
    .container1{
        float: left;
        text-align: center;
        width: 80%;
        margin: 0 auto;

    }

    .navigate{
        border-right: thick solid #bababa;
        padding-right: 10px;
        height: 1000px;
        float: left;
        width: 20%;

    }

    .menu{
        font-size: 30px;
    }

    .navigate a{
        font-size: 18px;
    }
}*/

/*PC大画面以下*//*
@media only screen and (min-width: 1600px){
    .container1{
        float: left;
        text-align: center;
        width: 85%;
        margin: 0 auto;

    }
}*/

#timer {
    font-size: 36px;
    border: 1px solid #ccc;
    margin: 30px auto;
    padding: 50px;
    background-color: black;
    color: white;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0,0,0, .5);
}

.btn{
    width: 100%;
}